@keyframes blink
  from
    background-color transparent
  to
    background-color #5DADE2

.widget
  display flex
  flex-direction column
  height: 100%
  overflow hidden

  .widget-title
    text-align center
    margin-bottom 0.5em
    flex 0 0 auto

    a
      color inherit
      text-decoration none

  .content
    font-size 1em
    color $gray-light
    height 100%
    width 100%
    flex 1
    display flex
    flex-direction column
    overflow-y auto
    scrollbar-width none

    .avatar-circle
      border-radius 50%

    .idle
      display grid
      flex 1
      place-items center

    .job-matrix
      flex-grow 1
      font-size 16px
      display grid
      grid-template-columns 35% 60%
      align-content space-evenly
      grid-column-gap 5%
      align-items center

      .job-matrix-label
        overflow hidden
        white-space nowrap
        text-overflow ellipsis
        text-align right
        font-size 1em
        font-weight bold

      .job-matrix-bubbles
        height 2em
        display flex
        align-items center

        .job-matrix-bubbles-item
          border-radius 50%
          background #5d806d

        $default-size = 2em
        $max-entries = 10
        gap: 0.4em;
        $decay = 0.175
        for n in (0..$max-entries)
          .job-matrix-bubbles-item:nth-child({n})
            $size = (1.0 - $decay) ** n * $default-size
            min-width $size
            min-height $size

        .success
          background-color #4e903d

        .unstable
          background-color #e9da00

        .failure
          background-color #ce2d22

        .building
          animation blink 1s infinite alternate