.content
  display flex
  font-size 1em
  color $gray-light
  height 100%
  width 100%

  .avatar-circle
    border-radius 50%

  .widget-title
    writing-mode vertical-rl
    transform rotate(180deg)
    text-align center
    margin 0
    height 100%

  h3.widget-title
    font-size 0.8em
    color rgba(255,255,255,0.7)
    margin 0.5em
    overflow hidden
    white-space nowrap
    text-overflow ellipsis

  .job-matrix
    font-size 1.3em
    display grid
    grid-template-columns auto auto
    grid-column-gap 0.75em
    align-items center

    .job-matrix-label
      overflow hidden
      white-space nowrap
      text-overflow ellipsis
      text-align right
      font-size 1em
      font-weight bold;
      padding-left: 1.5em;

    .job-matrix-bubbles
      height 2em;
      display flex
      align-items center

      .job-matrix-bubbles-item
        border-radius 50%
        background #5d806d

      $default-size = 2em
      $max-entries = 5
      $decay = 0.3
      for n in (0..$max-entries)
        .job-matrix-bubbles-item:nth-child({n})
          $size = (1.0 - $decay) ** n * $default-size
          min-width $size
          min-height $size
          margin-right 0.4em

      .success
        background-color #4e903d

      .unstable
        background-color #e9da00

      .failure
        background-color #ce2d22