.content
  font-size 1em
  color $gray-light
  height 100%
  width 100%
  display flex
  flex-direction column


  .avatar-circle
    border-radius 50%

  .widget-title
    text-align center
    margin-bottom 1em
    flex-grow 1

  .job-matrix
    flex-grow 3
    font-size 1.3em
    display grid
    grid-template-columns 47% 47%
    grid-column-gap 6%
    align-items center

    .job-matrix-label
      overflow hidden
      white-space nowrap
      text-overflow ellipsis
      text-align right
      font-size 1em
      font-weight bold;

    .job-matrix-bubbles
      height 2em;
      display flex
      align-items center

      .job-matrix-bubbles-item
        border-radius 50%
        background #5d806d

      $default-size = 2em
      $max-entries = 5
      $decay = 0.3
      for n in (0..$max-entries)
        .job-matrix-bubbles-item:nth-child({n})
          $size = (1.0 - $decay) ** n * $default-size
          min-width $size
          min-height $size
          margin-right 0.4em

      .success
        background-color #4e903d

      .unstable
        background-color #e9da00

      .failure
        background-color #ce2d22