@keyframes blink
  from
    background-color transparent
  to
    background-color

.content
  font-size 1em
  color $gray-light
  display flex
  flex 1
  flex-direction column

  .jenkins-all-green
    display flex
    flex 1
    align-items center
    justify-content center
    border-radius 0.25em
    font-size 2em
    background-color darkgreen
    color lightgreen
    
  .jenkins-job-item
    padding 0.2em
    margin-bottom 0.5em
    font-size 1.5em
    font-weight bold
    border-radius 0.25em
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    
  .status-red
    background-color #b70003
    color white

  .status-yellow
    background-color #ffd11a
    color black

  .status-blue
    background-color #3c5f8b
    color white

  .status-building
    animation blink 1s infinite alternate
